@import '~bootstrap/scss/bootstrap';
main{
    background-color: red;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    height: 100px;
}

h1 {
    color: rgb(6, 233, 157)
}

li {
    
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    line-height: 70px;

    color: grey;
}

.flex {
    display: flex;
    flex-direction: row;

}

.justify-between {
    justify-content: space-between;
}



ul {
    list-style-type: none;
    text-decoration: none;
}